.home-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    margin-top: 148px;
}

.error-msg {
    height: 28px;
    color: #ff4d4f;
    margin: auto;
}

