.login-outer-box {
    width: 1440px;
    margin: auto;
}

.login-block {
    width: 500px;
}

.login-title {
    position: absolute;
    left: 50px;
    top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #5E5E5E;
}

.ant-form.ant-form-horizontal.login-form {
    margin-top: 223px;
    padding: 0px;
    margin-left: 50px;
    width: 550px;
}


.login-navigation {
    position: relative;
    margin-left: 50px;
    margin-top: 23px;
}


.login-breadcrumb-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #215899;

}

.login-form-item-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #5E5E5E;
}

/*.login-form-input {*/
/*    height: 50px;*/
/*    border: 2px solid #5E5E5E;*/
/*    box-sizing: border-box;*/
/*    border-radius: 12px;*/
/*    font-size: 20px;*/
/*    text-indent: 10px;*/
/*    background-color: transparent;*/
/*}*/

.login-form-indicates-required-field{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #5E5E5E;
}
button.ant-btn.login-form-button.ant-btn-primary.login-form-button{
    width: 120px;
    height: 50px;
    background: #215899;
    border-radius: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: -296px;
    margin-top: 10px;
    border-color: transparent;
}

input#normal_login_email{
    height: 50px;
    border: 2px solid #5E5E5E;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 20px;
    text-indent: 10px;
    background-color: transparent;
}

input#normal_login_password{
    height: 50px;
    border: 2px solid #5E5E5E;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 20px;
    text-indent: 10px;
    background-color: transparent;
}



